
        body{
            font-family: 'Courier New', Courier, monospace;
            background-color: rgb(99, 7, 7);
            text-align: center;
        }
        h1{
            color: white;
            margin-top: 60px;
            font-size: 30px;
        }
        h2{
            color: white;
            margin-top: 60px;
            font-size: 60px;
        }
        h3{
            color: white;
            font-size: 40px;
        }
        a{
            color: rgb(214, 202, 203);
        }
        a{
            color: goldenrod;
        }
        img{
            width: 100%;
        }
